h1 {
    text-align: center;
}

html {
    background-color: beige;
}

a:link {
    color: rgb(153, 17, 142);
}

a:hover {
    color: darkgreen;
}

a:hover {
    background-color: aquamarine;
}

a:visited {
    color: red;
}

a:active {
    color: magenta;
}